body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/*Nav*/
.container__nav {
    height: 10vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav__box__enlaces {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.session__close {
    background-color: transparent;
    border: none;
    color: rgb(214, 40, 16);
    font-size: 1.5em;
}

.session__close:hover {
    color: rgb(37, 77, 112);
}

.box__nav__compra {
    position: relative;
}

.img__cart {
    height: 5vh;
}

.quantity__cart {
    position: absolute;
    bottom: 16px;
    left: 18px;
    color: #ffffff;
    font-size: 1.8em;
    margin: 0;
    font-weight: 900;
}

/*Charge */

.container__charge{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5b8bad6;
}

.charge {
    font-size: 4em;
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 4px;
}

.charge::after {
    content: "...";
    animation: charge 1s infinite;
}

@keyframes charge {
    0%{clip-path: inset(0 100% 0 0);}
    100%{clip-path: inset(0 0 0 0);}
}

/*Start*/

.container__cards-Route {
    background-color: aqua;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Cards*/

.container__cards {
    height: 70vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.cards__box {
    gap: 15px;
    background-color: beige;
    padding: 5% 6%;
    border-radius: 15px 15px 0 0;
    height: min-content;
    justify-content: center;
}

.container__cards--link {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 0 0 15px 15px;
    padding: 2%;
    margin-top: -1px;
}

.cards--link {
    border: 1px solid rgb(83, 82, 82);
    padding: 5px;
}

.cards--link:hover {
    border: 1px solid rgb(83, 82, 82);
    padding: 7px;
}
/* THREE CARDS */

.three__cards__box {
    width: 33%;
    text-align: center;
    border: 1px solid black;
    height: min-content;
}

.three__cards__box:hover {
    width: 35%;
    text-align: center;
    border: 1px solid rgb(109, 107, 107);
    height: min-content;
    position: relative;
    bottom: 20px;
}

.three__cards--img {
    width: 100%;
}

.three__cards__text--description {
    overflow-y: auto;
    width: 100%;
    height: 100px;
    padding: 0 5px;
    box-sizing: border-box;
}

/*pag 2  products*/

.container__products{
height: 85vh;
background-color: aqua;
}

.buttons__products__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 5%;
}

.box__products {
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    width: 100vw;
    text-align: center;
    justify-content: space-evenly;
    overflow-y: auto;
}

.products {
    width: 20%;
    height: 70%;
    margin: 1% 0;
    gap: 7px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products:hover {
    width: 21%;
    height: 71%;
    margin: 0% 0;
    gap: 7px;
    border: 1px solid rgb(95, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.products--img {
    max-width: 200px;
}

.products--description{
    padding: 0 20px;
}

/* categories */

.container__categories {
    height: 85vh;
    overflow-y: auto;
    background-color: aqua;
}

.categories__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    gap: 25px;
}

.categories__products {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 30px 0;
}

.categories__box__cards {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.categories__cards {
    width: 200px;
}

.categories__cards:hover {
    width: 200px;
    background-color: #ffffff91;
}

.categories__cards--img {
    width: 200px;

}

.categories__cards--description {
    min-width: 40px;
    max-width: max-content
}
/* Footer */

.footer {
    background-color: rgb(218, 231, 94);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Compras*/

.container__cart {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__compras--void {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compras--img {
    width: 250px;
}
.box__compras__contents {
    overflow-y: auto;
    gap: 100px;
}

.box__compras__card {
    gap: 50px;
    display: flex;
}

/*Product */

.container__product {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box__product {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box_product__box__buttons {
    display: flex;
    align-items: center;
    border: 1px solid #b5b8bad6;
    width: max-content;
    height: max-content;
    justify-content: space-between;
    margin: 0 25px;
    font-size: 6em;
    
}

.box_product__box__buttons--left {
    padding: 20px 25px;
    margin-right: 25px;
    background-color: whitesmoke;
    border: 0.1px solid #494a4bd6;
}

.box_product__box__buttons--right {
    background-color: whitesmoke;
    padding: 20px 25px;
    margin-left: 25px;
    border: 0.1px solid #494a4bd6;
}

.box_product__box__buttons--both:hover {
    background-color: rgb(175, 180, 180);
    border: 1px solid #343435d6;
}

.box_product__box__buttons_shop {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

/*register*/

.container__register {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
}

.box__register {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 30vw;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    max-height: max-content;
}

/*login*/

.container__login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
}

.box__login {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 30vw;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    max-height: max-content;
}

/*ordenes*/

.container__ordenes {
    display: flex;
    height: 85vh;
    flex-direction: column;
    overflow: auto;
}

.box__ordenes {
    display: flex;
    text-align: center;
}

.box_list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 5px 50px;
}

.box_orden_list {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
}

.card__orden {
    width: max-content;
    height: min-content;
    background-color: aliceblue;
}

.price {
    color: rgba(252, 56, 56, 0.774);
    margin: 0 20px;
    font-size: 3em;
}

.orden__img {
    width: 200px;
}
/* comun class */

.flex {
    display: flex;
}

.margin-0 {
    margin: 0;
}